*{
  margin:0 px;
  padding:0 px;
}
body{
  margin:40px;
  padding:20px;
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;  

}
.navbar a{
  text-align: center;
  padding: 14px 16px;
  font-size: 20px;
  text-decoration: black;
}

  .navbar{
    display: flex;
    flex-direction: row-reverse;
    text-decoration: black;
  }
  .Date{
    font-size:small;
  }
  .book{
    text-align: left;
  }
  .img{
    display:flex;
  }
  .container{
    display:flex;
  }
  .img p{
    background-color:peachpuff;
    padding:20px;
    margin:40px;
  }
  .container p{
    background-color:peachpuff;
    padding:20px;
    margin:40px;
  }
  .content{
    background-color: peachpuff;
    box-shadow: 10px 10px 10px 0px rgb(0,0, rgb(72, 72, 78));
    border-radius: 20px;
    
  }
  .content2{
    background-color: peachpuff;
    box-shadow: 10px 10px 10px 0px rgb(0,0, rgb(72, 72, 78));
    border-radius: 20px;
  }
  .wiki h1 {
    font-family: "Montserrat", sans-serif;
  
  }
  .wiki p a{
    font-style: "Montserrat", sans-serif;
    text-decoration: none;
    color:black;
    font-size: 2rem;
    
  }


  
